.container {
    max-width: 1240px;
    margin: 0 auto;
}
#hero {
    min-height: 700px;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 80%),url("hero_bg.png") no-repeat right top;                         

    background-size: cover;

    background-position: right 75px top 12px;

    display: flex;
    align-items: center;
}
#hero .container {
    display: flex;
   
    justify-content:flex-start;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 10;

    background: rgba(255,255,255,0.7);
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: #2b7fff;
}
header {
    padding: 20px 0;
}
header img {
    width: 74px;
    height: 42px;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icons img {
    background: transparent; 
}
.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}
.icons img {
    width: 32px;
    height: 32px;
}
.icons img:hover {
    opacity: 0.7;
    cursor: pointer;
}
.btn {
    display: inline-block;
    background-color: #2b7fff;
    color: white;
    padding: 16px 32px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.hero-content .btn {
    margin-bottom: 16px;
}
.btn:hover {
    background-color: #1a5edb
}
.hero-content {
    text-align: left;
}
.hero-content {
    max-width: 530px;
    justify-content: flex-start;
    margin-left: -520px;
    font-size: 40px;
}
.hero-content > p:first-child {
    font-size: 18px;
    color: #7a7a7a;
    max-width: 300px;
    margin: 0;
}
.hero content p:last-child {
    font-size: 12px;
}
.hero-content h1 {
    max-width: 530px;
    font-family: PLAY, sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 0.81;
    letter-spacing: 0;
    color: #4184f7;
    margin: 0 0 40px 0;
}
.bold{
    font-weight: 700;
}
#about {
    padding: 80px 0;
}
ul. ol {
    margin: 0;
    padding-left: 0;
}
